{% if header %}
  <div class="usa-overlay"></div>
{% if header.type == 'basic' %}
  <header class="usa-header usa-header--basic" role="banner">
{% elsif header.type == 'basic-mega' %}
  <header class="usa-header usa-header--basic usa-header--basic-megamenu" role="banner">
{% elsif header.type == 'extended' or header.type == 'extended-mega' %}
  <header class="usa-header usa-header--extended" role="banner">
{% endif %}

  {% if header.type == 'basic' or header.type == 'basic-mega' %}
    <div class="usa-nav-container">
  {% endif %}
    <div class="usa-navbar">
      <div class="usa-logo" id="header-logo">
        <a
          href="{% if header.href %}{{ header.href }}{% else %}{{ site.baseurl }}/{% endif %}"
          title="Home">
              <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5985E1"><path d="M321-160q-24 0-42-18t-18-42v-100h124v-127q-38 3-76-10.5T241-500v-58h-50L60-689q36-34 86-55.5T248-766q30 0 68.5 9.5T385-726v-74h455v535q0 44-30.5 74.5T735-160H321Zm124-160h245v55q0 20 12.5 32.5T735-220q20 0 32.5-12.5T780-265v-475H445v57l241 241v43h-43L517-525l-17 20q-13 15-26 23t-29 15v147ZM218-618h83v89q17 11 33.5 16.5T368-507q25 0 51-13.5t38-27.5l17-20-69-69q-32-32-72-50.5T248-706q-27 0-49 6.5T154-682l64 64Zm412 358H321v40h323q-6-6-10-16.5t-4-23.5Zm-309 40v-40 40Z"/></svg>          <em class="usa-logo__text">
            <h1>{{ page.title }} | NexGov - Il portale del futuro </h1>
          </em>
        </a>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>

    <nav role="navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button class="usa-nav__close">
          <img src="{{ site.baseurl }}/assets/uswds/img/close.svg" alt="close">
        </button>

        {% assign _primary = header.primary.links %}
        {% assign primary_links = site.data.navigation[_primary] | default: _primary %}
        {% if primary_links %}
        <ul class="usa-nav__primary usa-accordion">
          {% for _section in primary_links %}
          <li class="usa-nav__primary-item">
            {% if _section.links %}
              {% assign section_links = site.data.navigation[_section.links] | default: _section.links %}
              {% assign _section_id = _section.id %}
              {% unless _section_id %}{% assign _section_id = 'nav-' | append: forloop.index %}{% endunless %}
            <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="{{ _section_id }}">
              <span>{{ _section.text }}</span>
            </button>
            {% if header.type == 'basic' or header.type == 'extended' %}
            <ul id="{{ _section_id }}" class="usa-nav__submenu">
            {% endif %}
            {% if header.type == 'basic-mega' or header.type == 'extended-mega' %}
            <div id="{{ _section_id }}" class="usa-nav__submenu usa-megamenu">
              <div class="grid-row grid-gap-4">
            {% endif %}
              {% for _link in section_links %}
                {% if header.type == 'basic-mega' or header.type == 'extended-mega' %}
                <!-- wrap every 3 links in a usa-megamenu-col div -->
                {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
                  {% if modulo == '1' %}
                    <div class="desktop:grid-col-3">
                      <ul class="usa-nav__submenu-list">
                  {% endif %}
                {% endif %}
                <li class="usa-nav__submenu-item">
                  <a href="{% if _link.external %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}">{{ _link.text }}</a>
                </li>
                {% if header.type == 'basic-mega' or header.type == 'extended-mega' %}
                  {% if modulo == '0' or forloop.last %}
                    </ul>
                    </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% if header.type == 'basic' or header.type == 'extended' %}
            </ul>
            {% endif %}
            {% if header.type == 'basic-mega' or header.type == 'extended-mega' %}
              </div><!-- /grid-row -->
            </div>
            {% endif %}
            {% else %}
              <a class="{% if _section.class %}{{ _section.class }}{% else %} usa-nav__link {% endif %} {% if _section.href == page.permalink %} usa-current{% endif %}" href="{% if _section.external %}{{ _section.href }}{% else %}{{ _section.href | relative_url }}{% endif %}">
                <span>{{ _section.text }}</span>
              </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if header.type == 'basic' or header.type == 'basic-mega' %}
          {% assign _secondary = header.secondary %}
          {% if site.search_site_handle  %}
            {% include components/search.html %}
          {% endif %}
        {% endif %}

        {% if header.type == 'extended' or header.type == 'extended-mega' %}
          {% assign _secondary = header.secondary %}
          <div class="usa-nav__secondary">
            <ul class="usa-unstyled-list usa-nav__secondary-links">
              {% assign secondary_links = site.data.navigation[_secondary.links] | default: _secondary.links %}
              {% for _link in secondary_links %}
                <li class="usa-nav__secondary-item">
                  <a href="{% if _link.external %}{{ _link.href }}{% else %}{{ _link.href | relative_url }}{% endif %}"
                  {% if _link.class %} class="{{ _link.class }}" {% endif %}>
                    {{ _link.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}


        </div>
      </div>
    </nav>
  {% if header.type == 'basic' or header.type == 'basic-mega' %}
    </div>
  {% endif %}
  </header>
{% endif %}
